<nav class="navbar navbar-light fixed-top shadow navbar-expand-sm">
  <a class="navbar-brand" routerLink="">
    <h4>
      <span class="px-1">N</span>otepad
    </h4>
  </a>
  <button (click)="onCollapse()" class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngClass]="{'collapse' : !isCollapsed}" class="navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li *ngIf="isAuthenticated" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/note">Your Notes</a>
      </li>
      <li *ngIf="!isAuthenticated" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li *ngIf="isAuthenticated" class="nav-item" routerLinkActive="active">
        <a style="cursor: pointer;" class="nav-link" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>