<div class="row">
  <div *ngFor="let note of notes" class="col-12 col-md-6">
    <app-note-item [note]="note" ></app-note-item>
  </div>
  <div class="col-12 col-md-6">
    <app-note-item style="cursor: pointer;" (click)="openModal(template)" ></app-note-item>
  </div>
</div>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">New Note</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="onAddNote()">
      <div class="form-group">
        <label for="title">Title</label>
        <input formControlName="title"  name="title" type="text" class="form-control" id="title">
      </div>
      <alert *ngIf="title.invalid && title.touched" type="danger">
        <span class="help-block">
          {{ title.errors.required ? 'Title is required.' : 'Title character limit is 30.' }}
        </span>
      </alert>
      <div class="form-group">
        <label for="text">Text</label>
        <input formControlName="text"  name="text" type="text" class="form-control" id="text">
      </div>
      <alert *ngIf="text.invalid && text.touched" type="danger">
        <span class="help-block">
          {{ text.errors.required ? 'Text is required.' : 'Text character limit is 200.' }}
        </span>
      </alert>
      <button class="btn btn-outline-primary btn-block" [disabled]="form.invalid" >Save</button>
    </form>
  </div>
</ng-template>